.room-container {
    padding: 4rem;
    background: #fff;
}

h1 {
    text-align: center;
}

.cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1800px;
    width: 90%;
    margin: 0 auto;
}