/* video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
} */

.banner-container {
    background: url('../assets/images/banner.jpg') center center/cover no-repeat;
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    object-fit: contain;
}

.banner-container > h1 {
    color: #fff;
    font-size: 90px;
    margin-top: -250px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}

.banner-container > p {
    margin-top: -16px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.banner-search {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-search .input {
    border-radius: 4px 0px 0px 4px;
    height: 60px;
    width: 600px;
}

.input::-webkit-input-placeholder {
    font-size: 16px;
}

.banner-search .btn-search {
    border-radius: 0px 4px 4px 0px;
    height: 60px;
    width: 125px;
    font-size: 20px;
    background-color: #242424;
    border: 2px solid #242424;
    color: #fff;
}

.banner-search .input:hover {
    border:2px solid var(--gold-shadow)
}

.banner-search .check-in-out:hover {
    border:2px solid var(--gold-shadow)
}

.banner-search .btn-search:hover {
    transition: all 0.3s ease-out;
    background-color: #242424;
    border: 2px solid #242424;
    box-shadow: 5px 0px 13px -2px var(--gold-shadow);
    transition: 250ms;
}




@media screen and (max-width : 960px) {
    .banner-container > h1 {
        font-size: 70px ;
        margin-top: -150px;
    }

    .banner-search .input {
        width: 400px;
    }

    .banner-search .btn-search {
        width: 100%;
    }
}

@media screen and (max-width : 768px) {
    .banner-container > h1 {
        font-size: 40px;
        margin-top: -100px;
    }

    .banner-container > p {
        font-size: 30px;
    }

    .banner-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }

    .banner-search .input {
        width: 300px;
        height: 40px;
    }

    .banner-search .btn-search {
        width: 80px;
        height: 40px;
        
    }
}