.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.Logo {
    background-image: url('../assets/logo/logo_simples.png');
    width: 140px;
    height: 50px;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
}

.nav-item {
    height: 80px;
}

.nav-links {
    background-image:  var(--gold);
    color: transparent;
    -webkit-background-clip: text;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0.6rem;
    padding:  1rem ;
    height: 100%;
}

.nav-links:hover {
    background-image: var(--gold);
    color: transparent;
    -webkit-background-clip: text;
    box-shadow: inset 0px -10px 4px -7px var(--gold-shadow);
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .navbar {
        position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 90vh;
        position: absolute;
        justify-content: flex-start;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links {
        margin: 0px ;
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        box-shadow: inset 0px -10px 10px -11px var(--gold-shadow);
        border-radius: 0;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 25%);
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 40%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
    .nav-links-mobile {
        background: var(--gold);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 8px 20px;
        border: 2px solid;
        border-image-source: var(--gold);
        border-image-slice: 1;
        display: block;
        text-align: center;
        margin: 1rem auto;
        width: 80%;
        font-size: 1.5rem;
        padding: 14px 20px;
        transition: all 0.3s ease-out;
    }
    .nav-links-mobile:hover {
        transition: all 0.3s ease-out;
        box-shadow: 0px 0px 13px var(--gold-shadow);
        transition: 250ms;
    }
}