:root {
  --gold: linear-gradient(to right, #B67E28 0, #F7E377 40%, #C59831 100%);
  --gold-shadow: #F7E377;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.login-banner-container, .register-banner-container, .reserve-banner-container {
  background: url('./assets/images/banner.jpg') center center/cover no-repeat;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  object-fit: contain;
}

.rooms-banner-container {
  background: url('./assets/images/banner.jpg') center center/cover no-repeat;
  height: 125vh;
  width: 100%;
  display: flex;
  position: sticky;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  object-fit: contain;
}

.loginForm {
  margin-top: -250px;
}

.registerForm {
  margin-top: -250px;
}

.roomsForm {
  margin-top: -200px;
}

.reserveForm {
  margin-top: -250px;
}

.rooms-details-icons {
  font-size: 16px;
}

.rooms-details-price {
  font-size: 20px;
}

.rooms-details-price {
  font-size: 30px;
}


@media screen and (max-width: 1920px){
  
  .login-banner-container {
    height: 90vh;
  }

  .register-banner-container {
    height: 120vh;
  }

  .reserve-banner-container {
    height: 90vh;
  }

  .rooms-banner-container {
    height: 200vh;
  }

  .loginForm {
    margin-top: -100px;
  }
  
  .registerForm {
    margin-top: -100px;
  }
  
  .roomsForm {
    margin-top: -100px;
  }
  
  .reserveForm {
    margin-top: -100px;
  }
}